@charset "utf-8";
/* CSS Document */
body{
	background-image:url(image/image1.png);
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	text-align:center;
}

#top{
	width:1000px;
	margin:auto;
	height:100px;
	background-color:#0099FF;
	
}
#menu{
	width:1000px;
	margin:auto;
	height:50px;
	background-color:#0F3;
	line-height:50px;
	margin-bottom:10px;
}
#menu ul {
	list-style-type:none;
	padding-left:0px;
}
#menu ul li{
	float:left;
	width:249px;
	border-left:1px solid #000;
	position:relative; /* cố định thẻ li mà chúng ta hover*/
}

#menu ul li a{
	text-decoration:none;
	color:#000;
}

#menu ul li a:hover{
	color:#FFF;
}

.submenu{
	display:none; /* Ẩn một thẻ danh sách */
	position:absolute;z-index:90; /*menu con nổi lên trên thẻ li đã cố định*/
	background:#09F;
	
}

.submenu li{
	border-right:1px solid #000;
	border-bottom:1px dashed #00FF00;
}

#menu li:hover .submenu{
	display:block; /*hien menu coon khi hover */
}

#wrapper{
	width:1000px;
	margin:auto;
	height:800px;
	
}

#left {
	width:200px;
	height: 800px;
	background-color:#F00;
	float:left;
}

#main{
	width:800px;
	height: 800px;
	background-color:#CC6;
	float:left;
}

#main2{
	width:1000px;
	
	height: 800px;
	background-color:#CC6;
	float:left;
}
	
#buttom{
	width:1000px;
	margin:auto;
	height: 50px;
	background-color:#0F0;
	text-align:center;
}
#container{
	width:600px;
	height: 300px;
}
#content img {
	float:left;
	margin-right : 30px;
	padding : 5px;
}
#content{
	width:600px;
	height: 300px;
	text-align:left;
	background-color:white;
	overflow: auto;
  zoom: 1;
}

	
