@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}

body{
	background-image:url(image/image1.png);
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	width:1000px;
	margin:auto;
}

#top{
	height:150px;
	background-image:url(image/image.jpg);
	background-repeat:no-repeat;
	margin-bottom:10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#textsearch{
	height:31px;
	width:150px;
	float:left;
	border:0px;
	border-radius: 8px; /*lam cong khung hinh*/
}

#search-button{
	height:31px;
	width:31px;
	float:left;
	border:0;
	border-radius: 8px;
	background:url(image/search.png) no-repeat;
	cursor: pointer;
}
#menu{
	height:50px;
	width:100%;
	margin:auto;
	text-align:center;
	background-color:#CCC49F;
	line-height:50px;
	margin-bottom:10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
/*nguồn : google hover effect*/
.link{
  transition: 0.3s ease;
  background: #CCC49F;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #CCC49F;
  border-bottom: 1px solid #CCC49F;
  padding: 10px 0;
  margin: 0 20px;
}
/*nguồn : google hover effect*/
.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

#menu ul {
	list-style-type:none;
	padding-left:0px;
}
#menu ul li{
	float:left;
	width:24%;
	border-left:1px solid #000;
	position:relative; /* cố định thẻ li mà chúng ta hover*/
}

#menu ul li a{
	text-decoration:none;
	color:#000;
}

#menu ul li a:hover{
	color:blue;
}

.submenu{
	display:none; /* Ẩn một thẻ danh sách */
	position:absolute;z-index:90; /*menu con nổi lên trên thẻ li đã cố định*/
	background-color: #CCC49F;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*tham khảo http://www.w3schools.com/ */
	text-align:center;
}

.submenu a{
    display: block;
	border-right:1px solid #000;
	border-bottom:1px dashed #00FF00;
}


#menu li:hover .submenu{
	display:block; /*hien menu coon khi hover */
}

#wrapper{
	width:100%;
	margin:auto;
	height:800px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#content img {
	float:left;
	margin-right : 30px;
	padding : 5px;
}
#content{
	width:60%;
	height: 300px;
	text-align:left;
	background-color:white;
	margin: 60px 0px 0px 0px;
	overflow: auto;
}


#left {
	width:23%;
	height: 800px;
	background-color:#FFF;
	float:left;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#menu-left{
	width:200px;
	margin: 10px 0px 0px 14px;	
	border:1px solid #000;
	border-radius:8px;
}

#menu-left >ul{
	list-style-type:none;
	padding:10px 10px 20px 20px;
}

#menu-left ul li{
	list-style-type:none;
}

#menu-left ul li a{
	text-decoration:none;
}

#menu-left li{
	line-height:30px; /*khoang cach giua cac the li voi nhau*/
}

#menu-left >ul>li{
	border-bottom:1px solid #CCC;
}

.submenu1 li{
	padding:20px;
	background:url(image/next.png) no-repeat 1px 26px;
}

.submenu1{
	padding-bottom:15px;
}

#menu-left a{
	color:#CCC;
}

#menu-left a:hover{
	color:#00F;
}

#main{
	width:77%;
	height: 800px;
	text-align:center;
	background-color:#CC6;
	float:left;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#main2{
	width:100%;
	height: 800px;
	background-color:#CC6;
	float:left;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#buttom{
	width:1000px;
	height: 50px;
	background-color:#0F0;
	padding-top:10px;
	text-align:center;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#anhNhom{
	padding:3px;
	border:3px solid #999999;
	box-shadow: 15px 15px 15px rgba(0,0,0,.5);
	border-radius:100px;
    width:600px;
    height:400px;
	
}



section {
	text-align:left;
	margin-left: 20px;
}
section p{
	margin-bottom:30px;
	margin-top:30px;
}
.contactform{
	magrin: 10px;
	width:100%;	
}

.contactform th{
	padding-bottom:5px;
	text-align:right;
	}
.contactform td{
	padding-left:20px;
	padding-bottom:10px;
}


#anhNhom{
	padding:3px;
	border:3px solid #999999;
	box-shadow: 15px 15px 15px rgba(0,0,0,.5);
	border-radius:100px;
    width:600px;
    height:400px;
}

#hinhdaidien{
	padding:3px;
	border:3px solid #999999;
	box-shadow: 15px 15px 15px rgba(0,0,0,.5);
	border-radius:100px;
	width:200px;
    height:120px;
}


.icon{
    width:16px;
    height:16px;
}

h2{
	font-size:36px;
	margin: 50px 0px 0px;
}


	
	
	
